.banner {
  color: var(--light-color);
  &__container {
    padding: 3.75em 0;
  }
  &__title {
    font-size: 2.5rem;
    line-height: 120%;
    margin-bottom: 0.4em;
  }
  &__desc {
    line-height: 150%;
    margin-bottom: 3em;
  }
  &-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5em 7.5em;
    color: var(--light-color);
    border-radius: 10px;
    overflow: hidden;
    &__container {
      padding-top: 0;
    }
    &__link {
      font-size: .875rem;
      line-height: 145%;
    }
  }
}