.blog {
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include small-tablet {
      grid-gap: .875em;
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &:hover {
      .blog-item__img {
        img {
          transform: translate(-50%,-50%) scale(1.1);
          transition: transform .6s;
        }
      }
    }
    &__img {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 150px;
      border-radius: 8px;
      overflow: hidden;
      &--big {
        height: 200px;
        @include tablet {
          height: 300px;
        }
        @include small-mobile {
          height: 200px;
        }
        @include min-mobile {
          height: 140px;
        }
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        transform-origin: 50% 50%;
        transition: transform .6s ease-in-out;
      }
    }
    &__content {
      padding: 1em 0;
      @include mobile {
        padding: 0.9375em;
      }
    }
    &__tag {
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      font-size: .875rem;
      font-weight: 600;
      letter-spacing: .02em;
      text-transform: lowercase;
      margin-bottom: .7em;
      padding: .3333333333333333em .9333333333333333em;
      color: var(--accent-color);
      background-color: rgba(36, 106, 249, .15);
      border-radius: 6px;
      @include mobile {
        font-size: .75rem;
        font-weight: 700;
      }
    }
    &__text {
      font-size: 1rem;
      line-height: 140%;
      transition: color .1s linear;
      &:hover {
        color: var(--accent-color);
      }
      @include mobile {
        font-size: .875rem;
      }
    }
    &__date {
      font-size: .875rem;
      line-height: 170%;
      margin-top: .875em;
      @include mobile {
        margin-top: .75em;
      }
    }
    //&__link {
    //  line-height: 172%;
    //  text-transform: uppercase;
    //  padding: 0.42857142857142855em 0.8571428571428571em;
    //}
  }
}