.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--base-color);
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.06);
    &--home {
      color: var(--light-color);
      box-shadow: none;

      .lang {
        .ant-select-selector {
          color: var(--light-color)!important;
          .ant-select-selection-item {
            color: inherit!important;
          }
        }
        .ant-select-open {
          .ant-select-selector {
            color: var(--light-color)!important;
          }
        }
      }

      .user {
        color: var(--light-color);
        border-color: var(--light-color);
      }
    }
  }
  &-nav {
    margin-left: 1.875em;
    margin-right: auto;
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__container {
      padding-top: .5em;
      padding-bottom: .5em;
      border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  &-actions {
    display: flex;
    align-items: center;
    gap: 0.75em;
  }
}

.social {
  display: flex;
  align-items: center;
  margin-left: -1.25em;
  margin-right: -1.25em;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.25em;
    padding-right: 1.25em;
    &:not(:last-child) {
      border-right: 1px solid var(--light-color);
    }
  }
  &__link {
    display: flex;
    align-items: center;
    font-size: .75rem;
    font-weight: 500;
    color: var(--light-color);
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.3333333333333333em;
    svg {
      width: 18px;
      height: 18px;
    }
  }
  &__text {
    line-height: 1.2;
  }
}

.lang {
  &-current {
    display: flex;
    align-items: center;
    font-size: .75rem;
    font-weight: 500;
    color: inherit;
    &__text {
      margin-right: 0.6666666666666666em;
    }
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  &__text {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--light-color);
  }
}

.nav {
  &__link {
    font-weight: 600;
    color: currentColor;
    padding: 0 0.9375em;
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 0.375em;
  padding: 0.3125em 0.5em;
  color: var(--base-color);
  border: 1px solid var(--base-color);
  border-radius: 12px;
  &-wrap {
    position: relative;
    color: inherit;
    cursor: pointer;
    &:hover {
      .user-content__arrow {
        transform: rotate(-180deg);
      }
      .user-list-wrap--active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &-content {
    display: flex;
    align-items: center;
    gap: 0.3125em;
    &__text {
      font-weight: 500;
    }
    &__arrow {
      transition: transform .2s linear;
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    padding: 1em;
    color: var(--base-color);
    background-color: var(--light-color);
    border-radius: 12px;
    box-shadow: 0px 4px 26px 0px rgba(142, 142, 142, 0.25);

    &-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 40px;
      opacity: 0;
      visibility: hidden;
    }
    &__link {
      font-weight: 500;
      transition: color .1s ease;
      &:hover {
        color: var(--accent-color);
      }
    }
  }
}
