.about {
  &-country {
    &-wrap {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
    &-content {
      flex: 0 0 75%;
      max-width: 75%;
      padding-right: 15px;
      padding-left: 15px;
      &__grid {
        grid-gap: 0.625em;
        margin-bottom: 1.5em;
      }
    }
    &-aside {
      flex: 0 0 25%;
      max-width: 25%;
      padding-right: 15px;
      padding-left: 15px;
    }
    &__grid {
      grid-gap: 1.25em;
    }
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 200px;
      font-size: 1.25rem;
      color: var(--light-color);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border-radius: 12px;
      overflow: hidden;
    }
    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 1.5em;
      background-color: rgba(0, 9, 41, .5);
    }
    &-list {
      position: sticky;
      top: 40px;
      display: flex;
      flex-direction: column;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      &__item {
        display: flex;
        align-items: center;
        padding: 0.5em 1em;
        &.active {
          color: var(--primary-color);
        }
      }
    }
    &-page {
      &__head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }
}