.publish {
  display: grid;
  grid-template-columns: 230px 1fr;
  gap: 1.875em;
  &-filter {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    &__left {
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }
  &-content {
  }
  &-search {
    width: 100%;
    &__item {
      width: 100%;
      padding: 1em!important;
      background-color: #f6f6f6;
      margin-bottom: 0!important;
      border-radius: 8px;
    }
    &__input {
      .ant-input {
      }
      .ant-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px!important;
      }
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.25em;
  }
}