.skeleton {
  &-latestNews {
    &__date {
      h3 {
        width: 25% !important;
        margin-bottom: 12px;
      }
      ul {
        display: none;
      }
    }
    &__text {
      h3 {
        width: 100%!important;
      }
      .ant-skeleton-paragraph {
        margin-block-start: 8px!important;
        li {
          width: 100% !important;
        }
      }
    }
  }
  &-blogCard {
    padding: 1.25em 0;
    border-radius: 8px;
    &__img {
      width: 100%!important;
      height: 150px;
      margin-bottom: 1.25em;
    }
  }
}