.tab {
  &-list {
    &__tabs {
      display: flex;
      align-items: center;
      list-style: none;
      font-size: .875rem;
      white-space: nowrap;
      border-bottom: 1px solid #b1b1b1;
      margin-bottom: 2.857142857142857em;
      @include tablet {
        margin-bottom: 2em;
        overflow-x: scroll;
      }
      &::-webkit-scrollbar {
        width: 2px;
        height: 0;
      }
      &::-webkit-scrollbar-track {
        background-color: #b1b1b1;
      }
      &--form {
        margin-bottom: 0;
        border-bottom: none;
        .tab-list {
          &__tab {
            font-weight: 500;
            &:not(:last-child) {
              margin-right: 1.7142857142857142em;
            }
          }
        }
      }
      &-wrap {
        position: relative;
      }
    }
    &__tab {
      position: relative;
      font-size: .875rem;
      font-weight: 700;
      text-align: center;
      padding: 1em 0;
      outline: none;
      cursor: pointer;

      &:before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: transparent;
        border-radius: 50px;
      }

      &:not(:last-child) {
        margin-right: 2.857142857142857em;
      }
    }
    &__link {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: .875rem;
      font-weight: 500;
      letter-spacing: .1px;
      color: var(--accent-color);
      cursor: pointer;
      transition: opacity .15s linear;
      &:hover {
        opacity: .6;
      }
      @include small-tablet {
        display: none;
      }
    }
  }
}

.react {
  &-tabs {
    &__tab {
      &--selected {
        color: var(--accent-color)!important;
        &:before {
          background-color: var(--accent-color);
        }
      }
    }
  }
}